@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");


* {
  padding: 0%;
  margin: 0%;
}

html {
  scroll-behavior: smooth;
  background-color: #F5F3EF ;
  scrollbar-width: none;
  width: 100vw;
}

body {
  position: relative;
}


li {
  list-style: none; /*zerar estilos de uma lista*/
}

a {
  text-decoration: none; /*tirar efeitos de um texto*/
}

/* header */
.cabecalho {
  width: 100%; /*largura*/
  height: 56px; /*altura*/
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cabecalho_listas {
  display: flex;
  gap: 48px;
}

.cabecalho_listas li a {
  font-weight: 500;
  font-size: 18px;
  color: black;
}

.cabecalho_listas li a:hover {
  text-decoration: underline;
  transition: 0.1s;
}

.cabecalho h1 {
  font-weight: 700;
  font-size: 32px;
  font-family: "Comfortaa", serif;
}

/* secção sobre */

main {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.about-me {
  
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin-bottom: 42px;
}

.sobremim_pai { 
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 114px;
}

.circulo {
  width: 500px;
  height: 500px;
  background-color: rgb(0, 0, 0);
  border-radius: 100%;
  background-image: url(img/foto\ certa.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);

}

.sobremim_info {
  width: 586px;
  height: 521px;
  top: 110px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.sobremim_info h1 {
  font-size: 54px;
  font-weight: 600;
  font-family: "Playfair Display", serif;
  color: #25282b;
}

.sobremim_info p {
  font-size: 24px;
  font-weight: 400;
  font-family: "Nunito", serif;
  color: #828282;
}

.sobremim_botoes {
  display: flex;
  gap: 16px;
}

.sobremim_btn {
  border: none;
  background-color: #2c2b2c;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  font-family: "Roboto", serif;
  padding: 8px 24px;
  border-radius: 8px;
  cursor: pointer;
}

.sobremim_btn:hover {
  background-color: #fff;
  color: #25282b;
  border: 1px solid #25282b;
  transition: 0.1s;
}

.sobremim_botoes2 {
  background-color: #fff;
  color: #2c2b2c;
  border: 1px solid #2c2b2c;
}

.sobremim_botoes2:hover {
  background-color: #25282b;
  color: #fff;
}

/* seção projetos */
.projetos {
  display: flex;
  flex-direction: column; /* Organiza os elementos em coluna */
  align-items: center; /* Centraliza horizontalmente */
  justify-content: center; /* Centraliza verticalmente */
  gap: 80px; /* Espaçamento entre os elementos */
  margin-bottom: 80px;
}

.projetos h1 {
  font-weight: 700;
  font-size: 48px;
  font-family: "Playfair Display", serif;
  color: #25282b;
  display: inline;
  border-bottom: 2px solid #25282b;
}

.projetos_pai {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
  border-radius: 24px;

}

.projetos_albuns h2 {
  font-size: 40px;
  font-weight: 700;
  height: 60px;
  text-align: start;
  font-family: "Playfair Display", serif;
  color: #25282b;
  text-decoration: none;

}

.projetos_albuns {
  width: 496px;
  height: 524px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  border-radius: 24px 0 0 24px;
  padding: 24px;
}

.projetos_albuns p {
  width: 496px;
  height: 524;
  font-size: 24px;
  font-weight: 400;
  font-family: "Nunito", serif;
  color: #828282;
}

.imagem_projetos {
  width: 496px;
  height: 524px;
  padding: 24px;
  border-radius: 0px 24px 24px 0;
  background-color: rgb(0, 0, 0);
  background-image: url(img/trevo.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* segundo projeto */

.projetos2 {
  display: flex;
  flex-direction: column; /* Organiza os elementos em coluna */
  align-items: center; /* Centraliza horizontalmente */
  justify-content: center; /* Centraliza verticalmente */
  gap: 80px; /* Espaçamento entre os elementos */
}

.projetos_pai2 {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
  border-radius: 24px;
  margin-bottom: 80px
}

.imagem_projetos2 {
  width: 496px;
  height: 524px;
  padding: 24px;
  border-radius: 24px 0 0 24px;
  background-color: rgb(0, 0, 0);
  background-image: url(img/cactus2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.projetos2txt{
  width: 496px;
  height: 524px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  border-radius: 24px 0 0 24px;
  padding: 24px;
}

.projetos2txt h2{
  font-size: 40px;
  font-weight: 700;
  height: 60px;
  text-align: start;
  font-family: "Playfair Display", serif;
  color: #25282b;
  text-decoration: none;
}

.projetos2txt p{
  width: 496px;
  height: 524;
  font-size: 24px;
  font-weight: 400;
  font-family: "Nunito", serif;
  color: #828282;

  /* terceiro projeto */

}
.projetos3 {
  display: flex;
  flex-direction: column; /* Organiza os elementos em coluna */
  align-items: center; /* Centraliza horizontalmente */
  justify-content: center; /* Centraliza verticalmente */
  gap: 80px; /* Espaçamento entre os elementos */
  margin-bottom: 144px
}

.projetos_pai3 {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
  border-radius: 24px;
}

.projetos_colabs {
  width: 496px;
  height: 524px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  border-radius: 24px 0 0 24px;
  padding: 24px;
}

.projetos_colabs h2 {
  font-size: 40px;
  font-weight: 700;
  height: 60px;
  text-align: start;
  font-family: "Playfair Display", serif;
  color: #25282b;
  text-decoration: none;
}
.projetos_colabs p {
  width: 496px;
  height: 524;
  font-size: 24px;
  font-weight: 400;
  font-family: "Nunito", serif;
  color: #828282;
}

.imagem_projetos3 {
  width: 496px;
  height: 524px;
  padding: 24px;
  border-radius: 0px 24px 24px 0;
  background-color: rgb(0, 0, 0);
  background-image: url(img/travismc.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
}

/* seção contatos */

.contato {
  display: flex;
  align-items: center; 
  justify-content: center; 
  gap: 80px; 
  margin-bottom: 80px;
}

.contato h1 {
  font-weight: 700;
  font-size: 48px;
  font-family: "Playfair Display", serif;
  color: #25282b;
  border-bottom: 2px solid #25282b;
  margin-bottom: 80px;
}

.contato_pai {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  flex-direction: column;
}

.contato_pai .sobremim_btn {
  align-self: end;
  margin-bottom: 56px;
}

.contato_pai input {
  width: 400px; 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  display: block; 
  margin: 10px 0; 
  border-style: none;
}

.contato_pai label {
  display: block; /* Faz a label ocupar toda a largura */
  text-align: left; /* Alinha o texto da label à esquerda */
  width: 100%; /* Mantém a largura total para alinhamento correto */
  margin-bottom: 5px; /* Dá um espaçamento entre label e input */
}


.mensagem {
  display: flex;
  flex-direction: column;
}

.mensagem input {
  width: 400px;
  height: 160px;
}

.icones {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 192px;
  height: 48px;
}

.icones i {
  width: 48px;
  height: 48px;
  text-decoration: none;
  color: #25282b;
}

.vector {
background-image: url(img/Vector.png);
width: 100%;
height: 100px;
background: #2C2B2C;
}