@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

*{
    padding: 0%;
    margin: 0%;
}

li {
    list-style: none; /*zerar estilos de uma lista*/
}

a {
    text-decoration: none; /*tirar efeitos de um texto*/
}

.cabecalho {
    width: 100%; /*largura*/
    height: 56px;/*altura*/
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.cabecalho_listas {
    display:flex ;
    gap: 48px;
}

.cabecalho h1 {
    font-size: 18px;
    font-weight: 700;
    color: #25282B;
}

.cabecalho_listas li a {
    font-weight: 500;
    size: 18px;
    color: black;
}
.cabecalho h1 {
    font-weight: 700;
    font-size: 18px;
    font-family: "Comfortaa", serif;
}

